* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  place-items: center;
  /* height: 200vh; */
  background: linear-gradient(120deg, #ff00c7 0%, #51003f 100%),
    linear-gradient(120deg, #0030ad 0%, #00071a 100%),
    linear-gradient(180deg, #000346 0%, #ff0000 100%),
    linear-gradient(60deg, #0029ff 0%, #aa0014 100%),
    radial-gradient(100% 165% at 100% 100%, #ff00a8 0%, #00ff47 100%),
    radial-gradient(100% 150% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: overlay, color-dodge, overlay, overlay, difference,
    normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.search {
  position: fixed;
  z-index: 40;
  top: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 600px;
  height: 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(200px);
  transition: transform 0.3s ease-out, width 0.3s ease, height 0.3s ease;
}
.search.slider {
  transform: translateY(0);
  width: 400px;
  height: 60px;
}
.search input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.select_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100px;
  width: 100px;
  height: 100%;
}
select {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #af0058;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
select option {
  color: white;
}
.main {
  margin: 150px 20px 90px 20px;
}
.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 0.7fr); */
  width: 100%;
  gap: 30px;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.container.show {
  opacity: 1;
}

.img-container {
  position: relative;
  top: 20px;
  bottom: 100px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  transition: transform 0.2s ease-out;
}
.img-container:hover {
  transform: scale(1.1);
}

.img-container img {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #44444477;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
  /* cursor: pointer; */
}

.overlay:hover {
  opacity: 1;
}

.overlay h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}
.overlay p {
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.overlay button {
  text-align: center;
  margin-top: 20px;
  transform: translate(130px, -20px);
  width: 60px;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  display: grid;
  background-color: rgb(130, 0, 252);
  transition: background-color 0.2s ease;
}
.overlay button:hover {
  background-color: rgb(156, 72, 204);
}
.overlay i {
  margin: auto;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.overlay > * {
  transform: translateY(45px);
  transition: transform 0.3s ease;
}
.overlay:hover > * {
  transform: translateY(0);
}

.show_more_btn {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  right: 0;
  z-index: 90;
  opacity: 0;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  font-weight: 700px;
  font-size: 1rem;
  border: none;
  background: linear-gradient(to right, #ff9595, rgb(154, 154, 245));
  transition: opacity 1s ease;
}
.show_more_btn.showUp {
  opacity: 1;
}

/*  */

.card_descripion {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    height: 100%;
  }
  .img-container {
    background-color: #777777;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  .overlay button {
    text-align: right;
    margin-top: 20px;
    transform: translate(80px, -20px);
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    background-color: rgb(130, 0, 252);
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  .img-container {
    background-color: #777777;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }
  .img-container {
    margin-top: 30px;
    background-color: #777777;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .search {
    position: fixed;
    z-index: 40;
    top: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(200px);
    transition: transform 0.3s ease-out, width 0.3s ease, height 0.3s ease;
  }
  .search.slider {
    transform: translateY(0);
    width: 300px;
    height: 60px;
  }
  .search input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
}

/* This is for the Video */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  place-items: center;
  /* height: 200vh; */
  background: linear-gradient(120deg, #ff00c7 0%, #51003f 100%),
    linear-gradient(120deg, #0030ad 0%, #00071a 100%),
    linear-gradient(180deg, #000346 0%, #ff0000 100%),
    linear-gradient(60deg, #0029ff 0%, #aa0014 100%),
    radial-gradient(100% 165% at 100% 100%, #ff00a8 0%, #00ff47 100%),
    radial-gradient(100% 150% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: overlay, color-dodge, overlay, overlay, difference,
    normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.search {
  position: fixed;
  z-index: 40;
  top: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 600px;
  height: 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(200px);
  transition: transform 0.3s ease-out, width 0.3s ease, height 0.3s ease;
}
.search.slider {
  transform: translateY(0);
  width: 400px;
  height: 60px;
}
.search input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.select_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100px;
  width: 100px;
  height: 100%;
}
select {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #af0058;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
select option {
  color: white;
  padding: 10px;
}
.main {
  margin: 150px 20px 90px 20px;
}
.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 0.7fr); */
  width: 100%;
  gap: 30px;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.container.show {
  opacity: 1;
}

.vid-container {
  position: relative;
  top: 20px;
  bottom: 100px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  transition: transform 0.2s ease-out;
}
.vid-container:hover {
  transform: scale(1.1);
}

.vid-container video {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.vid-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #44444477;
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
  /* cursor: pointer; */
}

.vid_overlay:hover {
  opacity: 0;
}

.vid_overlay h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}
.vid_overlay p {
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.vid_overlay button {
  text-align: center;
  margin-top: 20px;
  transform: translate(130px, -20px);
  width: 60px;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  display: grid;
  background-color: rgb(130, 0, 252);
  transition: background-color 0.2s ease;
}

.vid_overlay i {
  margin: auto;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.vid_overlay > * {
  transform: translateY(-150px);
  transition: transform 0.3s ease;
}
.vid_overlay:hover > * {
  transform: translateY(0);
}

.show_more_btn {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  right: 0;
  z-index: 90;
  opacity: 0;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  font-weight: 700px;
  font-size: 1rem;
  border: none;
  background: linear-gradient(to right, #ff9595, rgb(154, 154, 245));
  transition: opacity 1s ease;
}
.show_more_btn.showUp {
  opacity: 1;
}

/*  */

.card_descripion {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    height: 100%;
  }
  .vid-container {
    background-color: #777777;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  .overlay button {
    text-align: right;
    margin-top: 20px;
    transform: translate(80px, -20px);
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    background-color: rgb(130, 0, 252);
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  .vid-container {
    background-color: #777777;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }
  .vid-container {
    margin-top: 30px;
    background-color: #777777;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  .vid-container vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .search {
    position: fixed;
    z-index: 40;
    top: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(200px);
    transition: transform 0.3s ease-out, width 0.3s ease, height 0.3s ease;
  }
  .search.slider {
    transform: translateY(0);
    width: 300px;
    height: 60px;
  }
  .search input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
}
